@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AppClasses.ChangePasswordForm;

@{
    Layout = null;
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DebugData</title>
</head>
<body>
    <script src="/js/md5Unit.js"></script>

    <h1>Необходимо сменить пароль для логина @Model.login </h1>

    <form id="ChangePasswordForm" asp-action="ChangePasswordForm" method="post" name="ChangePasswordForm">


        @if (Model.ErrMsg != "")
        {
            <br />
            <p style="color:#FF0000;"> @Model.ErrMsg </p>
            <br />
        }

        <br />
        <br />
        <label>старый пароль</label>
        <input id="old_password" type="password" value="" />
        <br />
        <br />

        <label>новый пароль</label>
        <input id="new_password" type="password" value="" />
        <br />
        <br />
        <label>повторите пароль</label>
        <input id="confirm_password" type="password" value="" />


        <input id="AppId" type="text" asp-for="AppId" value="@Model.AppId" hidden />

        <input id="old_pwd_md5" type="text" asp-for="old_password" value="" hidden />
        <input id="new_pwd_md5" type="text" asp-for="new_password" value="" hidden />
        <br />
        <br />
        <br />
    </form>

    <button class="tablinks" id="SaveChangeInARMbutton" onclick="Ok_function()">Ок</button>

    <script type="text/javascript">
        function Ok_function(s) {
            e_pwd = document.getElementById('new_password');
            var new_pwd = e_pwd.value;
            e_pwd.value = ""


            e_pwd = document.getElementById('confirm_password');
            var cnf_pwd = e_pwd.value;
            e_pwd.value = ""

            if (new_pwd != cnf_pwd) {
                alert("Новый пароль не совпадаеь с подтверждением. Повторите попывтку");
                return;
            }


            e_pwd = document.getElementById('old_password');
            var s = md5(e_pwd.value)
            e_pwd.value = ""
            e_md5 = document.getElementById('old_pwd_md5');
            e_md5.value = s;

            var s = md5(new_pwd)
            e_md5 = document.getElementById('new_pwd_md5');
            e_md5.value = s;


            elem = document.getElementById('ChangePasswordForm');
            elem.submit()
        }
    </script>


</body>




</html>
